<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejercicio 16</title>
</head>
<body>
    
    <%  for( let articulo of articulos){ %>
    <h2><%= articulo.title%></h2>
    <p><%= articulo.content.slice(3,54) + " (...)"%></p>
    <a href="/articulos/<%=articulo.id%>">Ir al artículo</a>
    <% } %>



</body>
</html>